<md-card *ngIf="register.tpl.USERNAME == undefined">
  <md-card-header>
    <md-card-title>
      <h2>{{register.tpl.SITENAME}} - {{L_.REGISTRATION}}</h2>
    </md-card-title>
  </md-card-header>
  <ng-container *ngIf="register.tpl.S_SHOW_COPPA || register.tpl.S_REGISTRATION">

    <md-card-content>
      <p *ngIf="register.tpl.S_SHOW_COPPA" [innerHtml]="register.tpl.L_COPPA_BIRTHDAY"></p>
      <p *ngIf="!register.tpl.S_SHOW_COPPA" [innerHtml]="register.tpl.L_TERMS_OF_USE"></p>
    </md-card-content>


    <md-card-actions>
      <ng-container *ngIf="register.tpl.S_SHOW_COPPA">
        <strong>
          <a href="{{register.tpl.U_COPPA_NO}}" class="button1">{{register.tpl.L_COPPA_NO}}</a>
        </strong>&nbsp;
        <a href="{{U_COPPA_YES}}" class="button2">{{L_COPPA_YES}}</a>
      </ng-container>

      <ng-container *ngIf="!register.tpl.S_SHOW_COPPA">
        <button md-button (click)="submit()">{{L_.AGREE}}</button>
        <a uiSref="phpbb.seo.index">
          <button md-button color="warn">{{L_.NOT_AGREE}}</button>
        </a>
      </ng-container>
    </md-card-actions>
  </ng-container>

  <ng-container *ngIf="register.tpl.S_AGREEMENT">

  </ng-container>
</md-card>