<div fxLayout fxLayoutWrap>
  <md-toolbar class="top-bbcode" fxFlex="100">
      <scfr-forum-bbcode-button *ngFor="let bbcode of baseBB" [bbcode]="bbcode"></scfr-forum-bbcode-button>
    <md-toolbar-row>
      <scfr-forum-bbcode-button *ngFor="let bbcode of customBB" [bbcode]="bbcode"></scfr-forum-bbcode-button>
    </md-toolbar-row>
  </md-toolbar>

  <md-input-container fxFlex="100">
    <textarea mdInput placeholder="Message" #editor style="width: 100%; height: 300px;" [(ngModel)]="message"></textarea>
  </md-input-container>
</div>