<scfr-forum-ucp-phpbb-field type="text" name="username" displayName="Nom d'utilisateur" [model]="ucp.USERNAME"></scfr-forum-ucp-phpbb-field>
<scfr-forum-ucp-phpbb-field type="email" name="email" displayName="Adresse Email" [model]="ucp.EMAIL"></scfr-forum-ucp-phpbb-field>
<scfr-forum-ucp-phpbb-field type="password" name="new_password" displayName="Nouveau Mot de passe" [model]="ucp.NEW_PASSWORD"></scfr-forum-ucp-phpbb-field>
<scfr-forum-ucp-phpbb-field type="password" name="password_confirm" displayName="Confirmer Nouveau Mot de passe" [model]="ucp.PASSWORD_CONFIRM"></scfr-forum-ucp-phpbb-field>

<br />

<scfr-forum-ucp-phpbb-field type="password" name="cur_password" displayName="Mot de passe actuel" [model]="ucp.CUR_PASSWORD"></scfr-forum-ucp-phpbb-field>

<br />

<button md-button color="primary" (click)="submit()">Valider</button>
<button md-button (click)="reset()">Reset</button>