// Height of the skew for the "linked list" of sub-forums.
$list-skew-height: 7px;
$list-border-color: rgba(255, 255, 255, 0.3);

:host() {
    width:100%;
    display:block;


    .forum-link-row {
        &.main {
            $border-color: #212B32;
            border-bottom:2px solid $border-color;
            .mat-button {font-size:17px;}
            padding:8px 0px;
        }

        &.secondary {
            .mat-button {font-size:14px;}
        }
        
        &.hidden {
            // !important because fxFlex will set display:flex on elem.
            display: none !important;
            border-color:transparent;
        }
    }

    .forum-link-wrapper {
        transition: 1s;
        position:relative;
        &.active {
            background: rgba(0, 0, 0, 0.45);
            padding-left: 15px;
        }
        &.new {
            //background: rgba(81, 195, 250, 0.15);
            font-weight: bolder;
            color: white;
        }
        &:not(.no-list):before {
            content: '';
            display: block;
            position: absolute;
            width: 18px;
            height: 5px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            top: 12px;
            left: -6px;
        }
    }
    .forum-link {
        width:100%;
        text-align:left;
        &.mat-button {
            font-family: 'Roboto', sans-serif;
            font-weight:normal;
            &:not(.no-list):before {
                content: '\2022';
                margin-left: -5px;
                margin-right: 5px;
            }
        }
    }
    .sub-forums {
        padding-left:20px;       
        position: relative;
        .leftborder {
            display: none;
        }
        &:not(.no-list) .leftborder {
            position: absolute;
            display:block;
            height: 100%;
            left: 13px;
            width: 1px;
            border-left: 1px solid $list-border-color;
            top: -20px;
        }

    }
}