<div class="forum-link-row" [ngClass]="{main: depth == 0, 'secondary': depth > 0, 'no-list': depth < 1, hidden: !visible}">
  <div class="forum-link-wrapper" [ngClass]="{new: forum?.UNREAD, 'no-list': depth < 2}" fxLayout>
    <a uiSref="phpbb.seo.viewforum" [uiParams]="{forumId: forum?.FORUM_ID}" fxFlex="100">
      <button class="forum-link" [ngClass]="{'no-list': depth < 1}" md-button (click)="toggleDisplay(true)">{{forum?.FORUM_NAME}}</button>
    </a>
    <button md-icon-button *ngIf="cacheChildren?.length > 0 " (click)="toggleDisplay()">
      <md-icon>{{toggleDisplaySub ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</md-icon>
    </button>
  </div>

  <div [hidden]="!toggleDisplaySub">
    <ul class="sub-forums" [ngClass]="{'no-list': depth < 1}" [scfrForumListStopAtBottom]="toggled">
      <div class="leftborder"></div>
      <scfr-forum-navigation-forum-link *ngFor="let fu of cacheChildren" [parent]="this" [forum]="fu.FORUM_ID" [navCo]="navCo" [depth]="depth+1"
        (toggleChange)="childrenToggled()"></scfr-forum-navigation-forum-link>
    </ul>
  </div>
</div>