:host() {
    width:100%;
    display:block;

    .forum-link{
        &.main {
            $border-color: rgba(0,0,0,0.4);
            border-bottom:1px solid $border-color;
            padding:8px 0px;
        }
        &:not(.main) {
            .forum-link:before {
            }
        }
    }

    .forum-link-wrapper {
        transition: 1s;
        &.active {
            background: rgba(0, 0, 0, 0.45);
            padding-left: 15px;
        }
        &.new {
            background: rgba(81, 195, 250, 0.27);
            font-weight: bolder;
            color: white;
        }
        &.hidden {
            // important because fxFlex will set display:flex on elem.
            display: none !important;
        }
    }
    .forum-link {
        width:100%;
        text-align:left;
        &.mat-button {
            font-family: 'Heebo', sans-serif;
            font-weight:normal;
        }
    }
    .sub-forums {
        padding-left:20px;
    }
}