[scfrForumFloatingMainHeader] {
    position: relative;
    margin-top: -170px !important;
    margin-bottom: 84px !important;
    font-family: 'Electrolize';
    text-transform: uppercase;
    text-align: center;

    h2 {
        font-size: 4rem;
        line-height: 4rem;
        margin: 0px;
        font-weight: bolder;
        letter-spacing: 1rem;
    }

    h3 {
        color:rgb(197, 197, 197);
        margin-top: 0px;
        letter-spacing: 3px;
    }
}