<div class="index" fxLayout fxLayoutWrap [ngClass.lt-md]="'small'">

    <div fxFlex="100%" class="top-row" fxLayout>

        <div class="news mat-elevation-z3" [ngClass.lt-md]="'small'" fxFlex="100%">
            <div class="mask">
                <scfr-forum-index-news></scfr-forum-index-news>
            </div>
        </div>

        <div class="guide mat-elevation-z3" [ngClass.lt-md]="'small'" fxFlex="100%">
            <div class="mask">
                <scfr-forum-index-guide-des-nouveaux></scfr-forum-index-guide-des-nouveaux>
            </div>
        </div>


        <div class="own-messages mat-elevation-z3" [ngClass.lt-md]="'small'" fxFlex="100%">
            <div class="mask">
                <scfr-forum-index-mp></scfr-forum-index-mp>
            </div>
        </div>
    </div>


    <div class="tab-wrapper" fxLayoutWrap fxFlex="100">
        <nav md-tab-nav-bar fxFlex="100">
            <a md-tab-link (click)="activeTab = 'forum'" [active]="activeTab == 'forum'">FORUM</a>
            <a md-tab-link (click)="activeTab = 'unread'" [active]="activeTab == 'unread'" *ngIf="isLoggedIn">Messages non lus</a>
            <a md-tab-link (click)="activeTab = 'last'" [active]="activeTab == 'last'">Derniers Messages</a>
            <a md-tab-link (click)="activeTab = 'ego'" [active]="activeTab == 'ego'" *ngIf="isLoggedIn">Mes Messages</a>
        </nav>

        <div class="tab-active" [ngSwitch]="activeTab">
            <scfr-forum-index-tab-forum *ngSwitchCase="'forum'"></scfr-forum-index-tab-forum>
            <scfr-forum-index-tab-unread *ngSwitchCase="'unread'"></scfr-forum-index-tab-unread>
            <scfr-forum-index-tab-last *ngSwitchCase="'last'"></scfr-forum-index-tab-last>
            <scfr-forum-index-tab-ego *ngSwitchCase="'ego'"></scfr-forum-index-tab-ego>
        </div>
    </div>


    <!-- <div class="messages">
            <h3>Messages non lus
                <a uiSref="phpbb.seo.search" [uiParams]="{search_id:'unreadposts'}">
                    <button md-button color="primary">Voir tous les nouveaux messages</button>
                </a>
                <button class="markall" color="primary" md-button *ngIf="tpl.U_MARK_FORUMS" (click)="markEverythingRead()">Tout marquer comme lu</button>

            </h3>

            <div class="messages" fxLayout fxLayoutWrap>
                <ng-container *ngFor="let message of unreadTopicList">
                    <ng-container *ngTemplateOutlet="topicDetails;context:{topic:message}"></ng-container>
                </ng-container>
            </div>

        </div> -->



    <div class="online" *ngIf="displayOnlineMembers" fxFlex="100">
        <h3>En ligne
            <button md-button color="accent">{{onlineMembers.length}}</button>
        </h3>

        <img *ngFor="let user of displayOnlineMembers" class="avatar" [src]="user.avatar | avatarURL" [mdTooltip]="user.row.username"
            [style.border-color]="'#'+user.row.user_colour">

    </div>

</div>