@import './src/assets/material/v7/main';

$bg-color: transparentize(map_get($scfr-mat-blue-grey-background,700),0.2);

@mixin common-topic-message() {
    background-color: transparentize(map_get($scfr-mat-blue-grey-background,600),0.2);
    padding: 18px;
    margin: 8px;
    cursor:pointer;
    font-family: "Open Sans";
}
/**

    background: rgba(93, 129, 150, 0.8);
    font-weight: bolder;
*/
.index {
    padding:24px;
    h3 {
        font-family: 'Heebo', sans-serif;
        text-transform: uppercase;
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 0px;
        font-weight: bolder;
        margin-bottom:1.5rem;

        .mat-button {
            vertical-align: text-bottom;
        }
    }

    &.small {
        padding: 12px;
    }

    .topic-row {
        @include common-topic-message();
        flex: 1 1 100%;
        padding: 12px;
        margin: 4px;
        position:relative;
        .details {
            font-size: 11px;
        }
        .title {
            .forum-name {
                font-family: $text-font-header-subtitle, sans-serif;
                text-transform: uppercase;
                font-size:0.7rem;
                &:after {
                    content: '//';
                    margin: 0px 5px;
                    display: inline-block;
                    font-size: 0.9rem;
                    color: #72bae0;
                }
            }
            .topic-title {
                font-family: $text-font-header-title;
                font-size:1rem;
            }
        }
        .deets {
            display: flex;
            flex-wrap: wrap;
            font-family: $text-font-header-title;
            font-size: 0.7rem;
            flex: 1 1 25%;
            > div {
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                em {
                    font-style: normal;
                    color:grey;
                    padding-top:5px;
                    text-transform: uppercase;
                }
                span {
                    flex: 1 1 100%
                }
            }
        }
    }

    .forums {
        padding-bottom:1.5rem;
        .forum-row {
            @include common-topic-message();
            position: relative;
            background: $bg-color;
            margin: 8px 0;
            .forum-name {
                font-family: $text-font-header-subtitle, sans-serif;
                font-size: 1.1rem;
                text-transform: uppercase;
            }
        }
    }

    .messages {
        padding-bottom:1.5rem;
    }


    @mixin righty-background-row() {
        margin:14px;
        min-height: 33vh;
        margin-top: 50px;
        display: flex;
        background-position:center center;
        background-repeat:no-repeat;
        background-size:cover;


        .mask {
            padding:28px;
            flex: 1 1 100%;

            background-color:transparentize($bg-color, 0.3);
        }

        &.small .mask {
            padding: 24px 12px;
            font-size: 0.8rem;
        }
    }

    .guide {
        background-image: url(//starcitizen.fr/wp-content/uploads/2016/09/Reliant_Kore_01-2-1024x576.jpg);

        @include righty-background-row();

        .parts {
            margin: 24px;
            li {
                padding:8px;
                position:relative;
                a {
                    font-family: $text-font-header-title;
                    text-decoration: none;
                }
                &:before {
                    content: '';
                    position: absolute;
                    border-left: 1px solid white;
                    width: 1px;
                    height: 100%;
                    left: 10px;
                    top: -15px;
                }
                &:first-of-type:before {
                    border-left:0px;
                }
            }
        }
        &.small .parts {
            margin: 24px 0px;
        }
    }

    .own-messages {
        @include righty-background-row();
        background-image: url(//starcitizen.fr/wp-content/uploads/2017/04/26-1024x576.png);
    }

    .online {
        padding: 18px;
        margin: 8px;
        h3 button {
            border-radius: 50%;
            padding: 0px;
            min-width: 36px !important;
            overflow: hidden;
        }
        .avatar {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            display: inline-block;
            margin: 6px;
            border-style: solid;
            border-width: 2px;
            border-color: #70b6db;
        }
    }
}
