<div class="index" fxLayout fxLayoutWrap [ngClass.lt-md]="'small'">


    <ng-container *ngIf="rowOnTop">
        <ng-container *ngTemplateOutlet="firstRow"></ng-container>
    </ng-container>


    <div class="tab-wrapper" fxLayoutWrap fxFlex="100">
        <nav md-tab-nav-bar fxFlex="100" class="tabs">
            <a md-tab-link (click)="activeTab = 'forum'" [active]="activeTab == 'forum'">FORUM</a>
            <a md-tab-link (click)="activeTab = 'unreadposts'" [active]="activeTab == 'unreadposts'" *ngIf="isLoggedIn">Messages non lus</a>
            <a md-tab-link (click)="activeTab = 'newposts'" [active]="activeTab == 'newposts'">Derniers Messages</a>
            <a md-tab-link (click)="activeTab = 'egosearch'" [active]="activeTab == 'egosearch'" *ngIf="isLoggedIn">Mes Messages</a>

        </nav>

        <div fxFlex="100" fxLayout fxLayoutWrap [ngClass.gt-md]="'top-btns'">
            <div fxFlex></div>
            <div>
                <button md-button color="primary" *ngIf="tpl.U_MARK_FORUMS" (click)="markEverythingRead()">Marquer tous les forums comme lu</button>
                <a uiSref="phpbb.seo.search" [uiParams]="{search_id: activeTab}" *ngIf="activeTab != 'forum'">
                    <button md-button color="primary">Lancer la recherche détaillée</button>
                </a>
            </div>
        </div>

        <div class="tab-active" [ngSwitch]="activeTab">
            <scfr-forum-index-tab-forum *ngSwitchCase="'forum'"></scfr-forum-index-tab-forum>
            <scfr-forum-index-tab-unread *ngSwitchCase="'unreadposts'"></scfr-forum-index-tab-unread>
            <scfr-forum-index-tab-last *ngSwitchCase="'newposts'"></scfr-forum-index-tab-last>
            <scfr-forum-index-tab-ego *ngSwitchCase="'egosearch'"></scfr-forum-index-tab-ego>
        </div>
    </div>


    <ng-container *ngIf="!rowOnTop">
        <ng-container *ngTemplateOutlet="firstRow"></ng-container>
    </ng-container>
    <!-- <div class="messages">
            <h3>Messages non lus
                <a uiSref="phpbb.seo.search" [uiParams]="{search_id:'unreadposts'}">
                    <button md-button color="primary">Voir tous les nouveaux messages</button>
                </a>
                <button class="markall" color="primary" md-button *ngIf="tpl.U_MARK_FORUMS" (click)="markEverythingRead()">Tout marquer comme lu</button>

            </h3>

            <div class="messages" fxLayout fxLayoutWrap>
                <ng-container *ngFor="let message of unreadTopicList">
                    <ng-container *ngTemplateOutlet="topicDetails;context:{topic:message}"></ng-container>
                </ng-container>
            </div>

        </div> -->



    <div class="online" *ngIf="displayOnlineMembers" fxFlex="100">
        <h3>En ligne
            <button md-button color="accent">{{onlineMembers.length}}</button>
        </h3>

        <img *ngFor="let user of displayOnlineMembers" class="avatar" [src]="user.avatar | avatarURL" [mdTooltip]="user.row.username"
            [style.border-color]="'#'+user.row.user_colour">

    </div>

</div>


<ng-template #firstRow>
    <div fxFlex="100%" class="top-row" fxLayout>
        <div class="news mat-elevation-z3" [ngClass.lt-md]="'small'" fxFlex="100%">
            <div class="mask">
                <scfr-forum-index-news></scfr-forum-index-news>
            </div>
        </div>

        <div class="guide mat-elevation-z3" [ngClass.lt-md]="'small'" fxFlex="100%">
            <div class="mask">
                <scfr-forum-index-guide-des-nouveaux></scfr-forum-index-guide-des-nouveaux>
            </div>
        </div>


        <div class="own-messages mat-elevation-z3" [ngClass.lt-md]="'small'" fxFlex="100%">
            <div class="mask">
                <scfr-forum-index-mp></scfr-forum-index-mp>
            </div>
        </div>
    </div>
</ng-template>