@import './src/assets/material/v7/main';

@mixin nodeco() {
  a {
    text-decoration: none;
    &:hover {
      color:white;
    }
  }
}
.top-details{
  .forum-title {
    font-family: $text-font-header-title;
    text-transform:uppercase;
    font-size: $text-size-header-title;
  	letter-spacing: .1em;
  	font-weight: 500;
    margin:0px;
    @include nodeco();
  }

  .topic-title {
    font-family: $text-font-header-subtitle;
    font-style: normal;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: $text-size-header-subtitle;
    margin:0px;
    @include nodeco();
  }
  padding-left:10px;
  border-left:4px solid map_get($scfr-mat-light-blue, 600);
}