<div class="container">
    <h2 class="forum-title"><a uiSref="phpbb.seo.viewforum" [uiParams]="{forumId: FORUM_ID}">{{FORUM_NAME}}</a></h2>
    <h3 class="topic-title"><a uiSref="phpbb.seo.viewtopic" [uiParams]="{forumId: FORUM_ID, topicId: TOPIC_ID}">{{TOPIC_TITLE}}</a></h3>

    <button md-raised-button uiSref=".posting">Répondre</button>
    <div *ngFor="let post of postrow" style="margin:20px;border:2px solid;">
        <h4 style="color: {{post.POST_AUTHOR_COLOUR}}" uiSref="phpbb.seo.viewprofile" [uiParams]="{userId:post.POSTER_ID, user_slug: post.POST_AUTHOR | seoUrl}">{{post.POST_AUTHOR}}</h4>
        <div [innerHTML]="post.MESSAGE"></div>
    </div>

    <button md-mini-fab *ngIf="CURRENT_PAGE < TOTAL_PAGES" (click)="loadNextPost()"><md-icon>add</md-icon></button>
</div>