<div class="container" fxLayoutWrap>
    <div scfrForumFloatingMainHeader>
        <div class="top-details">
            <h2 class="forum-title">
                <a uiSref="phpbb.seo.viewforum" [uiParams]="{forumId: tpl.FORUM_ID}">{{tpl.FORUM_NAME}}</a>
            </h2>
            <span class="topic-title">
                <a uiSref="phpbb.seo.viewtopic" [uiParams]="{forumId: tpl.FORUM_ID, topicId: tpl.TOPIC_ID}">{{tpl.TOPIC_TITLE}}</a>
            </span>
        </div>
    </div>

    <div fxFlex="100">
        <div fxFlex.gt-sm="60" fxFlexOffset.gt-sm="20">
            <scfr-forum-spinner-loading [show]="fetchingNewPosts"></scfr-forum-spinner-loading>
        </div>
    </div>

    <scfr-forum-viewtopic-poll fxFlex="100"></scfr-forum-viewtopic-poll>

    <scfr-forum-viewnews *ngIf="displayNews" [news]="news" fxFlex="100"></scfr-forum-viewnews>

    <div *ngIf="tpl.postrow && !fetchingNewPosts" fxFlex="100">
        <app-viewmessage [viewtopic]="this" *ngFor="let post of postrow" [postrow]="post" [editable]="true" [(edit)]="editedMessage"></app-viewmessage>
    </div>

    <div *ngIf="newPosts > 0" class="newpostsws">
        <p [ngPlural]="newPosts">
            <ng-template ngPluralCase="=1">Une nouvelle réponse</ng-template>
            <ng-template ngPluralCase="other">{{newPosts}} nouvelles réponses</ng-template>
        </p>
    </div>

    <scfr-forum-breadcrumbs fxFlex="100"></scfr-forum-breadcrumbs>

    <!-- <ng-adsense *ngIf="!fetchingNewPosts"></ng-adsense> -->

</div>

<scfr-forum-global-pagination [page]="tpl.CURRENT_PAGE" (pageChange)="changePage($event)" [totalPage]="tpl.TOTAL_PAGES">
    <ng-container [ngTemplateOutlet]="topicActions"></ng-container>
</scfr-forum-global-pagination>


<ng-template #topicActions>
    <a uiSref=".posting" [uiParams]="{'#': null, page:null, unread:null}">
        <button md-button>Répondre</button>
    </a>
    <scfr-forum-mcp-quickmod-topic [topicId]="tpl.TOPIC_ID"></scfr-forum-mcp-quickmod-topic>
</ng-template>