@import './src/assets/material/v7/main';
@import "./src/assets/material/common/common";
.forum-header {
    align-items: flex-end;

    .forum-name-container {
        flex: 1 1 100%;
    }

    .forum-actions-container {
        // Material floating placeholder align
        margin-bottom: -10px;
    }
}

.forum-name-container {
    .forum-title {
        font-family: $text-font-header-title;
        text-transform:uppercase;
        font-size: $text-size-header-title;
        line-height: 2.5rem;
        margin:0px;
    }

    .forum-sub-title {
        font-family: $text-font-header-subtitle;
        font-style: $text-size-header-subtitle;
    }
    padding-left:10px;
    border-left:4px solid map_get($scfr-mat-light-blue, 600);
}

.topicrow {
    .topicrow-header {
        padding: 10px 20px;
        background: #adc8dc;
        z-index: 0;
        font-family: "Electrolize";
        text-transform: uppercase;
        color: #26323b;
        font-weight: bolder;
        
    }
}
.sub-forum-container {
    margin-bottom: 40px;
}