article {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.newscontent {
    margin-bottom: 100px;
    text-align: justify;
    width: 100%;
    padding: 0 40px;
    background: rgba(22,27,30,0.25);
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
    max-width: 1150px;
    font-family: "tahoma";
    color: #DEDEDE;

    @import url(https://fonts.googleapis.com/css?family=Oswald:300,400);
    @import url(https://fonts.googleapis.com/css?family=Lato:400,300);
}