<div fxLayout>
    <a uiSref=".edit" [uiParams]="{'postId': postrow.POST_ID, '#': postrow.POST_ID}">
        <button *ngIf="postrow.U_EDIT" md-icon-button color="primary" [mdTooltip]="viewtopic.L_.BUTTON_EDIT" (click)="editThis()">
            <md-icon>edit</md-icon>
        </button>
    </a>
    <button *ngIf="postrow.U_REPORT" md-icon-button color="primary" [mdTooltip]="viewtopic.L_.REPORT_POST" (click)="report()">
        <md-icon>report</md-icon>
    </button>
    <button *ngIf="postrow.U_INFO" md-icon-button color="primary" [mdTooltip]="viewtopic.L_.INFORMATION">
        <md-icon>info</md-icon>
    </button>
    <a uiSref=".posting" [uiParams]="{'postId': postrow.POST_ID, quote:true}">
        <button *ngIf="postrow.U_QUOTE" md-icon-button color="primary" [mdTooltip]="viewtopic.L_.QUOTE">
            <md-icon>format_quote</md-icon>
        </button>
    </a>
    <button *ngIf="postrow.U_DELETE" md-icon-button color="warn" (click)="deleteThis()" [mdTooltip]="viewtopic.L_.DELETE_POST">
        <md-icon>delete</md-icon>
    </button>
    <button *ngIf="postrow.U_WARN" md-icon-button color="warn" [mdTooltip]="viewtopic.L_.WARN_USER">
        <md-icon>warning</md-icon>
    </button>
</div>