<p [innerHTML]="ucp.L_.WATCHED_EXPLAIN"></p>
<md-list>
  <ng-container *ngIf="ucp.tpl.forumrow">
    <h2 md-subheader>Forums</h2>
    <md-list-item class="forumrow" *ngFor="let forum of ucp.tpl.forumrow" md-ripple>
      <div class="deets">
        <h3>{{forum.FORUM_NAME}}</h3>
      </div>

      <md-checkbox md-list-icon [(ngModel)]="forum.checked"></md-checkbox>
    </md-list-item>
  </ng-container>

  <md-divider *ngIf="ucp.tpl.topicrow && ucp.tpl.forumrow"></md-divider>
  <ng-container *ngIf="ucp.tpl.topicrow">
    <h2 md-subheader>Topics</h2>
    <md-list-item class="topicrow" *ngFor="let topic of ucp.tpl.topicrow" md-ripple>
      <div class="deets">
        <h4>{{topic.FORUM_NAME}}</h4>
        <h3>{{topic.TOPIC_TITLE}}</h3>
      </div>

      <md-checkbox md-list-icon [(ngModel)]="topic.checked"></md-checkbox>
    </md-list-item>
  </ng-container>
</md-list>

<p *ngIf="!ucp.tpl.forumrow"><strong>{{ucp.L_.NO_WATCHED_FORUMS}}</strong></p>
<p *ngIf="!ucp.tpl.topicrow"><strong>{{ucp.L_.NO_WATCHED_TOPICS}}</strong></p>


<button md-button color="primary" (click)="submit()" [disabled]="shouldDisplayUnMarkButton()">Ne plus surveiller les objets selectionés</button>