  $scfr-mat-cyan: (
  50: #eaf8fe,
  100: #cbedfe,
  200: #a8e1fd,
  300: #85d5fc,
  400: #6bccfb,
  500: #51c3fa,
  600: #4abdf9,
  700: #40b5f9,
  800: #37aef8,
  900: #27a1f6,
  A100: #71a4b1,
  A200: #6abbcf,
  A400: #51C3FA,
  A700: #0091ea,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);