$scfr-mat-light-blue: (
  50: #F6F9FB,
  100: #E9F0F6,
  200: #DAE6F0,
  300: #CBDCE9,
  400: #BFD5E5,
  500: #B4CDE0,
  600: #ADC8DC,
  700: #A4C1D8,
  800: #9CBAD3,
  900: #8CAECB,
  A100: #FFFFFF,
  A200: #F9FCFF,
  A400: #E0F0FF,
  A700: #0091ea,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);