@import "v7/main";

snack-bar-container{
	height: auto !important;
}
a img, img {
        max-width: 100%
}
.mat-sidenav-content {
        width:100%;
        // Workaround for position fixed & stick & aabsolute inside the content
        // @see https://github.com/angular/material2/issues/998
        transform:none !important;
}
.main-navigator {
        .mat-button:hover .mat-button-focus-overlay {
                opacity:0;
                background-color:transparent !important;
        }
}
::-webkit-scrollbar {
    background: map_get($scfr-mat-blue-grey-background,900);    
    width: 5px;

}
[uiSref] {
        cursor:pointer;
}
::-webkit-scrollbar-thumb  {
    background: map_get($scfr-mat-light-blue,900);  
}

.mat-sidenav.mat-sidenav-side {
        z-index:99 !important;
}