.scfr-forum-ucp-notifications-switch {
    flex:1 1 100%;
}

h2 {
    font-family: "Electrolize";
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    margin-top: -140px;
    margin-bottom: 100px;
    margin-left: 20px;
    border-left: 4px solid darkgoldenrod;
    padding: 5px;
    padding-left: 14px;
}