<div class="notifs">
  <h2>Notifications</h2>

  <div class="wrapper">
    <scfr-header-notification-a-notif *ngFor="let notif of notifs" [notif]="notif"></scfr-header-notification-a-notif>
  </div>

</div>
<div class="bottom" fxLayout>
  <div class="corner" fxFlex></div>
  <div class="main" fxFlex="100">
    <a uiSref="phpbb.seo.ucp" [uiParams]="{page:'notifications', subPage: ''}">
      <button href="https://starcitizen.fr/Forum/ucp/notifications/"> Voir tout </button>
    </a>
  </div>
</div>