<div fxLayout fxLayoutWrap>

  <ng-container *ngFor="let link of links">
    <ng-container *ngIf="link.S_FIRST_ROW" [ngTemplateOutlet]="mainButton" [ngOutletContext]="{link:link}"></ng-container>
  </ng-container>

  <ng-container *ngIf="page == 'mp'">
    <ng-container *ngFor="let folder of folders">

    </ng-container>
  </ng-container>

  <ng-container *ngFor="let link of links">
    <ng-container *ngIf="!link.S_FIRST_ROW" [ngTemplateOutlet]="mainButton" [ngOutletContext]="{link:link}"></ng-container>
  </ng-container>

</div>

<ng-template #mainButton let-link="link">
  <a class="side-nav-link" uiSref="phpbb.seo.ucp" [uiParams]="{mode: link.MODE, subPage:'', phpbbResolved:false}" [uiOptions]="{refresh:true}">
    <button class="side-nav-button" md-button fxFlex="100" [ngClass]="{'active': link.S_SELECTED}">
      {{link.L_TITLE}}
    </button>
  </a>
</ng-template>