.side-nav-button {
    font-family: "Electrolize";
    &.active {
        background: transparentize(darkgoldenrod, 0.5);
        font-weight:bolder;
    }
}
.side-nav-link {
    display:block;
    width: 100%;
}