<md-card *ngIf="MPService.currentConvo" style="display: flex;flex-grow: 1; flex-direction: column;">
<md-card-header>
  <img md-card-avatar src="{{MPService.currentConvo.author.avatar}}">
  <md-card-title>{{MPService.currentConvo.title}}</md-card-title>
  <md-card-subtitle><span [style.color]="'#'+MPService.currentConvo.author.color"> {{MPService.currentConvo.author.username}} </span></md-card-subtitle>
</md-card-header>
<md-card-content>
  <div *ngFor="let mp of MPService.currentConvo.messages" style="margin:5px; border:1px solid grey">
    <div>{{mp.to_address}}</div>

    <div class="content" [innerHTML]="mp.message_text">
    </div>

  </div>
</md-card-content>
</md-card>