<div class="posting-more">
  <nav md-tab-nav-bar>
    <a md-tab-link [active]="activeOption === 'options'" (click)="activeOption='options'">
    {{posting.L_.OPTIONS}}
  </a>

    <a md-tab-link *ngIf="posting.tpl.S_SHOW_ATTACH_BOX" [active]="activeOption === 'attachments'" (click)="activeOption='attachments'">
    {{posting.L_.ATTACHMENTS}}
  </a>

    <a md-tab-link [active]="activeOption === 'polls'" (click)="activeOption='polls'" *ngIf="posting.tpl.S_SHOW_POLL_BOX || posting.tpl.S_POLL_DELETE">
    {{posting.L_.ADD_POLL}}
  </a>
  </nav>
  <div class="inside">
    <scfr-forum-posting-attachments #tab1 [posting]="posting" [hidden]="activeOption != 'attachments'"></scfr-forum-posting-attachments>
    <scfr-forum-posting-options #tab2 [posting]="posting" [hidden]="activeOption != 'options'"></scfr-forum-posting-options>
    <scfr-forum-posting-polls #tab3 [posting]="posting" [hidden]="activeOption != 'polls'"></scfr-forum-posting-polls>
  </div>
</div>