<scfr-global-header-bar class="global-header"
                        [tpl]="tpl"
                        [sidenav-open]="navigation.sidenavToggled | async"
                        [mobile-menu]="navigation.mobileMenu | async"
                        (toggleSidenav)="navigation.toggleSidenav()"
></scfr-global-header-bar>
<md-sidenav-container class="app-layout">
  <md-sidenav #sidenav #start [mode]="navigation.sidenavMode | async" [opened]="navigation.sidenavToggled | async" fxFlex.lt-sm="80%" fxFlex.gt-sm="325px">
    <app-navigation></app-navigation>
  </md-sidenav>
  <div id="top"></div>
  <scfr-forum-header-bar></scfr-forum-header-bar>
  <ui-view></ui-view>
  <scfr-forum-background></scfr-forum-background>
</md-sidenav-container>
