app-navigation{
    display: flex;
    flex-direction: column;
    height: 100vh;
    //margin-top: 64px;
}
.global-header {
    z-index:30;
    width:100vw;
    position: fixed;
}
md-sidenav{
    overflow-y: visible;
}