md-card {
    border-top:1px solid rgba(0,0,0,0.2);
    padding-bottom:12px;
}
.text {
    align-self: center;
    flex: 1 1 100%;
}
.avatar {
    margin-left: -10px;
}
.mat-icon-button {
    height:30px;
    width:30px;
    font-size:30px;
    line-height: 30px;
    .mat-icon {
        font-size:20px;
        height:20px;
        width:20px;
        line-height:20px;
    }
}
.tools {
    margin:-12px 0px;
    height: 56px;
}
