<md-card *ngIf="LoginService.loggedIn">
  <md-card-header>
    <img uiSref="phpbb.seo.viewprofile" [uiParams]="{userId: currentTpl?.S_USER_ID}" md-card-avatar [src]="LoginService.avatar">
    <md-card-title>{{LoginService.username}}</md-card-title>
    <md-card-subtitle [innerHTML]="LoginService.legend"></md-card-subtitle>
  </md-card-header>
  <md-card-actions>
    <button fxFlex md-button (click)="logoutUser()">Logout</button>
    <scfr-forum-notifications></scfr-forum-notifications>
    <button fxFlex md-button><md-icon>{{currentTpl?.PRIVATE_MESSAGE_COUNT > 0 ? 'email' : 'mail_outline'}}</md-icon> {{currentTpl?.PRIVATE_MESSAGE_COUNT}}</button>
  </md-card-actions>
</md-card>