<md-card *ngIf="preview" class="preview">
  <md-card-title>Previsualiser</md-card-title>
  <md-card-content>
    <app-viewmessage [editable]="false" [post]="preview"></app-viewmessage>
  </md-card-content>
</md-card>

<md-card class="posting">
  <md-card-content fxLayout="column" fxLayoutWrap>

    <scfr-forum-post-editor [(message)]="post.message"></scfr-forum-post-editor>
    <md-progress-bar mode="indeterminate" *ngIf="busy"></md-progress-bar>
    
    <scfr-forum-posting-options-switcher [posting]="this"></scfr-forum-posting-options-switcher>

  </md-card-content>
  <md-card-actions>
    <button md-button color="primary" (click)="sendPost()" [disabled]="busy">Envoyer</button>
    <button md-button (click)="previewPost()" [disabled]="busy">Previsualiser</button>
    <button md-button color="warn" uiSref='^' [disabled]="busy">Annuler</button>
  </md-card-actions>
</md-card>


<md-card id="topic-summary" *ngIf="tpl.topic_review_row && tpl.topic_review_row.length">
    <md-card-title>Résumé du topic</md-card-title>
    <md-card-content>
      <app-viewmessage *ngFor="let postrow of tpl.topic_review_row" [postrow]="postrow"></app-viewmessage>
    </md-card-content>
    
</md-card>
