<md-card>
  <md-card-subtitle>{{L_INFORMATION}}</md-card-subtitle>
  <md-card-title>
    <md-input-container>
      <input mdInput placeholder="Sujet" style="width: 100%" [(ngModel)]='post.subject'>
    </md-input-container>
  </md-card-title>
  <md-card-content fxLayout="column" fxLayoutWrap>

    <div *ngIf="preview">
      <app-viewmessage [editable]="false" [post]="preview"></app-viewmessage>
    </div>

    <scfr-forum-post-editor [(message)]="post.message"></scfr-forum-post-editor>

  </md-card-content>
  <md-card-actions>
    <button md-button color="primary" (click)="sendPost()">Envoyer</button>
    <button md-button (click)="previewPost()">Previsualiser</button>
    <button md-button color="warn" uiSref='^'>Annuler</button>
  </md-card-actions>
</md-card>