$none:                      none;
$white:                     #fff;
$white-darker:              #DEDEDE;
$blue:                      #364A57;
$blue-subtile-text:         #B0D6E0;
$blue-light:                #6abbcf;
$blue-neon:                 #4d7c84;
$blue-fluo:                 #479FC9;
$blue-neon-shadow:          #25565d;
$blue-military:             #497A89;
$dark-blue:                 #212B32;
$dark-blue-secondary:		#26323A;
$dark-blue-tertiary:		#202A30;
$subtile-blue:              #566067;
$subtile-bg:                #161B1E;
$link-orange:               #F3BD3B;
$orange-text:               #ffb400;
$orange-bg:                 #B99224;
$orange-neon:               #D8B114;
$orange-neon-shadow:        #dd5250;
$link:                      #FFF;
$link-shadow:               #FF6260;
$link-hover:                $orange-neon-shadow;

$color-blue-accent: #416F86;
$color-blue-washed: #213544;
$color-backdrop: $cdk-overlay-dark-backdrop-background;

//** Background color for `<body>`.
$body-bg:               $dark-blue;
//** Global text color on `<body>`.
$text-color:            $white-darker;

//** Global textual link color.
$link-color:            $link;
//** Link hover color set via `darken()` function.
$link-hover-color:      $link;
//** Link hover decoration.
$link-hover-decoration: none;
