$text-size-header-title: 32px;
$text-font-header-title: 'Electrolize';
$text-size-header-title-line: 2.5em;

$text-size-header-subtitle: 16px;
$text-font-header-subtitle: 'Roboto', sans-serif;
$text-size-header-subtitle-line: 2.5em;

$text-font-main: 'open sans'
