<a *ngIf="postrow?.S_FIRST_UNREAD" id="unread" class="anchor"></a>
<md-card [id]="'p'+post.id" [ngClass]="{unread: postrow?.S_UNREAD_VIEW}" class="message" fxLayout="column">

  <ng-container *ngIf="!isEditMod()">

    <!-- <div class="message-header" *ngIf="!simplePostMod" fxLayout>
      <div class="message-header-avatar">
        <img [src]="avatarUrl">
      </div>

      <div class="message-header-middle" fxFlex fxLayout.lt-md="column" fxLayout.gt-md="row">
        <div class="middle-left">
          <scfr-forum-phpbb-username [mdTooltip]="postrow?.RANK_TITLE" [color]="postrow?.POST_AUTHOR_COLOUR" [name]="postrow?.POST_AUTHOR"
            [id]="postrow?.POSTER_ID"></scfr-forum-phpbb-username>
        </div>
        <div fxFlex></div>
        <div class="middle-right">

          <a *ngIf="postrow?.J_IS_JULIET && tpl.S_USER_IS_JULIET" href="{{postrow?.J_U_SQ}}">
            <div class="squad_title">
              <div class="main"><img src='{{postrow?.JU_RANK_IMG}}' class='forum_rank'> {{postrow?.JU_RANK}}</div>
              <div class="secondary">{{postrow?.J_SQ_NAME}}</div>
            </div>
          </a>

          <div class="squad_title" *ngIf="(postrow?.G_SHOW_H || postrow?.G_SHOW_G) && !(tpl.S_USER_IS_JULIET && postrow?.J_IS_JULIET)">
            <a *ngIf="postrow?.G_SHOW_H " href="https://robertsspaceindustries.com/citizens/{{postrow?.G_U_HANDLE}}" target="_blank">
              <div class="main">{{postrow?.G_U_HANDLE}}</div>
            </a>
            <a *ngIf="postrow?.G_SHOW_G && postrow?.G_SQ_NAME " href="{{postrow?.G_U_SQ}}">
              <div class="secondary">{{postrow?.G_SQ_NAME}}</div>
            </a>
          </div>

        </div>
      </div>

      <div class="message-header-logo">
        <ng-container *ngIf="postrow?.J_IS_JULIET && tpl.S_USER_IS_JULIET">
          <a href="{{postrow?.J_U_SQ}}">
            <img class="logo" [src]="postrow?.J_SQ_LOGO">
          </a>
        </ng-container>

        <ng-container *ngIf="postrow?.G_SHOW_G && postrow?.G_HAS_GUILD && !(tpl.S_USER_IS_JULIET && postrow?.J_IS_JULIET)">
          <a href="{{postrow?.G_U_SQ}}">
            <img class="logo" [src]="postrow?.G_SQ_LOGO">
          </a>
        </ng-container>

        <div class="fix" *ngIf="!(postrow?.G_SHOW_G && postrow?.G_HAS_GUILD && !(tpl.S_USER_IS_JULIET && postrow?.J_IS_JULIET))"></div>
      </div>
    </div> -->
    <md-card-content *ngIf="post.message" fxLayout fxLayoutWrap>
      <div class="side-info-wrapper">
        <div class="side-info-hover-pannel mat-elevation-z3" fxLayout fxLayoutWrap>

          <div class="first-row row" fxFlex="100">
            <scfr-forum-phpbb-username fxFlex="75" class="username" [mdTooltip]="postrow?.RANK_TITLE" color="#ffffff"
              [name]="postrow?.POST_AUTHOR" [id]="postrow?.POSTER_ID"></scfr-forum-phpbb-username>

            <span class="group" fxFlex [style.background-color]="postrow?.POST_AUTHOR_COLOUR">{{postrow?.RANK_TITLE}}</span>
          </div>

          <div class="second-row row" fxFlex="100">
            <a *ngIf="postrow?.G_SHOW_H && postrow?.G_U_HANDLE" fxFlex="75" class="handle" href="https://robertsspaceindustries.com/citizens/{{postrow?.G_U_HANDLE}}"
              target="_blank">
              @{{postrow?.G_U_HANDLE}}
            </a>
            <div class="more" fxLayout fxLayoutWrap fxFlex>
              <div class="buttons" fxLayout>
                <md-icon uiSref="phpbb.seo.ucp.pmConvo" [uiParams]="{mode: 'compose', page:'mp', subPage:'', phpbbResolved:false, u: postrow?.POSTER_ID}">textsms</md-icon>
                <md-icon uiSref="phpbb.seo.viewprofile" [uiParams]="{userId: postrow?.POSTER_ID}">accessibility</md-icon>
                <button *ngIf="tpl.S_USER_IS_JULIET && postrow?.J_IS_JULIET" fxFlex><a [href]="'https://starcitizen.fr/Flotte/?page=user&id='+postrow?.POSTER_ID">JULIET</a></button>
              </div>
            </div>
          </div>

          <p class="description">
            {{postrow?.PROFILE_MINI_PRESENTATION_VALUE_RAW}}
          </p>



        </div>
        <div class="side-info" fxFlex="100px" fxLayout fxLayoutWrap>
          <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar">
          <img *ngIf="!avatarUrl" src="./assets/images/default-avatar.jpg" class="avatar">

          <h4 class="poster-name" fxFlex="100">
            <scfr-forum-phpbb-username [mdTooltip]="postrow?.RANK_TITLE" [color]="postrow?.POST_AUTHOR_COLOUR" [name]="postrow?.POST_AUTHOR"
              [id]="postrow?.POSTER_ID"></scfr-forum-phpbb-username>
          </h4>

          <div class="guild-logo">
            <ng-container *ngIf="postrow?.J_IS_JULIET && tpl.S_USER_IS_JULIET">
              <a href="{{postrow?.J_U_SQ}}">
                <img class="logo" [src]="postrow?.J_SQ_LOGO">
              </a>
            </ng-container>

            <ng-container *ngIf="postrow?.G_SHOW_G && postrow?.G_HAS_GUILD && !(tpl.S_USER_IS_JULIET && postrow?.J_IS_JULIET)">
              <a href="{{postrow?.G_U_SQ}}">
                <img class="logo" [src]="postrow?.G_SQ_LOGO">
              </a>
            </ng-container>

          </div>

        </div>
      </div>
      <div fxFlex [innerHTML]="(post.message | unsafeHtml)" class="post-inner"></div>
    </md-card-content>
    <md-card-actions class="message-actions" fxLayout fxFlex="100">
      <div class="message-details" fxFlex="100">
        <span class="message-id">#{{postrow?.POST_ID}}</span> -
        <time class="message-time">{{postrow?.POST_DATE}}</time>
      </div>
      <scfr-forum-message-action-bar fxFlex [viewtopic]="viewtopic" *ngIf="editable" [postrow]="postrow" (edit)="edit = $event"></scfr-forum-message-action-bar>
    </md-card-actions>
  </ng-container>
  <ng-container *ngIf="isEditMod()" ui-view="editMessage"></ng-container>
</md-card>