@import './src/assets/material/v7/main';

$border: transparentize(map-get($scfr-mat-light-blue, 200),0.85);
$dark-bg:  map-get($scfr-mat-blue-grey-background,800);
$color:  map-get($scfr-mat-light-blue, 200);
$border-radius: 6px;

.message-header {
    height:100px;
    margin:-24px;
    margin-bottom:24px;
    position:relative;
    z-index:3;
    .message-header-avatar {
        width:100px;
        height:100px;
        background: $dark-bg;
        position:relative;
        z-index: 3;
        padding: 6px;
        text-align: center;
        img {
            height:100%;

        }
    }
    .message-header-middle {
        position:relative;
        background: $dark-bg;
        height: 80px;
        padding: 15px 30px;
        padding-right: 0px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            background: $dark-bg;
            bottom: -32px;
            left: -20px;
            transform: skew(-45deg);
            z-index: 0;
        }
    }
    .message-header-logo {
        background: $dark-bg;
        height: 80px;
        text-align:center;
        img {
            height: calc(100% - 20px);
            margin: 10px;
        }
        .fix {
            margin: 14px;
        }
    }

        .squad_title {
            font-family: 'Electrolize', sans-serif;
            text-transform:uppercase;
            letter-spacing:0.1rem;
            font-weight:lighter;
            align-items: center;
            display: flex;
            flex-direction: column;
            align-content: stretch;
            a {text-decoration: none;}
            .main {
                color: #fecb00;
                line-height:1rem;
                .forum_rank {
                    line-height:1rem;
                    max-height:100%;
                }
            }
            .secondary {
                color:white;
            }
        }
}