@import './src/assets/material/v7/main';

$border: transparentize(map-get($scfr-mat-light-blue, 200),0.85);
$dark-bg:  map-get($scfr-mat-blue-grey-background, 700);
$color:  map-get($scfr-mat-light-blue, 200);
$border-radius: 6px;

.message {
    margin: 24px 0px;
    background:transparentize($dark-bg, 0.2);
}

.side-info {
    margin: 0px 0px -24px -24px;
    align-items: flex-start;
    align-content: flex-start;
    .avatar {
        $avatar-size: 75px;
        flex:1 1 100%;
        max-width: $avatar-size;
        max-height: $avatar-size;
        margin:0px auto;
    }

    .poster-name {
        text-align:center;
        padding: 0px 6px;
        margin-top: 6px;
    }

    .guild-logo {
        width: 55px;
        height: 55px;
        margin: 0px auto;
        opacity: 0.7;
    }
}

.post-inner {
    padding: 0px 12px;
    blockquote {
        background: transparentize(map-get($scfr-mat-blue-grey-background, 900), 0.8);
    }
}

.message-actions {
    margin-bottom: -24px;
    margin-top: 24px;
    align-items: flex-end;
    .message-details {
        font-family: "Open sans";
        color: #9a9a9a;
        font-size: 9px;
        letter-spacing: 1px;
        line-height: 8px;
    }
}

.message-header {
    height:100px;
    margin:-24px;
    margin-bottom:24px;
    position:relative;
    z-index:3;
    .message-header-avatar {
        width:100px;
        height:100px;
        background: $dark-bg;
        position:relative;
        z-index: 3;
        padding: 6px;
        text-align: center;
        img {
            height:100%;

        }
    }
    .message-header-middle {
        position:relative;
        background: $dark-bg;
        height: 80px;
        padding: 15px 30px;
        padding-right: 0px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            background: $dark-bg;
            bottom: -32px;
            left: -20px;
            transform: skew(-45deg);
            z-index: 0;
        }

        .decorations {
            > * { 
                position: absolute;
                z-index: 3;
             }
            .deco-bar {
                height: 25px;
                width: 1px;
                background: #00a0dc;
                bottom: -31px;
                transform: skew(-45deg);
                left: 22px;
                box-shadow: 0px 0px 20px 3px rgb(0, 160, 220);
            }
            .deco-balls {
                height: 30px;
                bottom: -20px;
                left: 35px;
                line-height: 50px;
                &::ng-deep .deco-ball {
                    width: 1px;
                    height: 2px;
                    background: #00a0dc;
                    box-shadow: 0px 0px 20px 2px rgba(0, 160, 220, 0.5);
                    display: inline-block;
                    vertical-align: text-top;
                    margin: 0px 1px;
                    transition: height 5s;
                }
            }
        }
    }
    .message-header-logo {
        background: $dark-bg;
        height: 80px;
        text-align:center;
        img {
            height: calc(100% - 20px);
            margin: 10px;
        }
        .fix {
            margin: 14px;
        }
    }
    .middle-right {
        a { text-decoration: none;}
        .squad_title {
            font-family: 'Electrolize', sans-serif;
            text-transform:uppercase;
            letter-spacing:0.1rem;
            font-weight:lighter;
            align-items: center;
            display: flex;
            flex-direction: column;
            align-content: stretch;
            a {text-decoration: none;}
            .main {
                color: #fecb00;
                line-height:1rem;
                .forum_rank {
                    line-height:1rem;
                    max-height:100%;
                }
            }
            .secondary {
                color:white;
            }
        }
    }

}