<md-card style="margin: 10px 0px;" [id]="post.id" class="message">
  <div *ngIf="!isEditMod()">

    <div class="message-header">
      <div class="message-header-user-left" fxLayout [ngClass]="{border: postrow.POST_AUTHOR_COLOUR}">
        <div class="message-header-avatar" [ngStyle]="{'background-image': 'url('+avatarUrl+')', 'border-color':postrow.POST_AUTHOR_COLOUR}"></div>
        <span class="message-header-username" [mdTooltip]="postrow.RANK_TITLE" [ngStyle]="{'background-color': postrow.POST_AUTHOR_COLOUR}"
          uiSref="phpbb.seo.viewprofile" [uiParams]="{userId:postrow.POSTER_ID, user_slug: postrow.POST_AUTHOR | seoUrl}">{{postrow.POST_AUTHOR}}</span>
      </div>
      <div class="message-header-bar" fxFlex></div>
      <div class="message-header-info-right" fxLayout *ngIf="displayInfoRight()">

        <div class="right-details">

          <!-- connected user is juliet and poster user is juliet too, display full ju -->
          <a *ngIf="postrow.J_IS_JULIET && tpl.S_USER_IS_JULIET" href="{{postrow.J_U_SQ}}">
            <div class="squad_title">
              <div class="main"><img src='{{postrow.JU_RANK_IMG}}' class='forum_rank'> {{postrow.JU_RANK}}</div>
              <div class="secondary">{{postrow.J_SQ_NAME}}</div>
            </div>
          </a>

          <div class="squad_title" *ngIf="(postrow.G_SHOW_H || postrow.G_SHOW_G) && !(tpl.S_USER_IS_JULIET && postrow.J_IS_JULIET)">
            <a *ngIf="postrow.G_SHOW_H " href="https://robertsspaceindustries.com/citizens/{{postrow.G_U_HANDLE}}" target="_blank">
              <div class="main">{{postrow.G_U_HANDLE}}</div>
            </a>
            <a *ngIf="postrow.G_SHOW_G && postrow.G_SQ_NAME " href="{{postrow.G_U_SQ}}">
              <div class="secondary">{{postrow.G_SQ_NAME}}</div>
            </a>
          </div>
        </div>

        <div class="right-logo">

          <ng-container *ngIf="postrow.J_IS_JULIET && tpl.S_USER_IS_JULIET">
            <a href="{{postrow.J_U_SQ}}">
              <div class="logo" [ngStyle]="{'background-image': 'url('+postrow.J_SQ_LOGO+')'}"></div>
            </a>
          </ng-container>

          <ng-container *ngIf="postrow.G_SHOW_G && postrow.G_HAS_GUILD && !(tpl.S_USER_IS_JULIET && postrow.J_IS_JULIET)">
            <a href="{{postrow.G_U_SQ}}">
              <div class="logo" [ngStyle]="{'background-image': 'url('+postrow.G_SQ_LOGO+')' }"></div>
            </a>
          </ng-container>
        </div>

      </div>


    </div>
    <md-card-content>
      <div class="post-inner" [innerHTML]="post.message"></div>
    </md-card-content>
    <md-card-actions>
      <scfr-forum-message-action-bar *ngIf="editable" [postrow]="postrow" (edit)="edit = $event"></scfr-forum-message-action-bar>
    </md-card-actions>
  </div>
  <div *ngIf="isEditMod()" ui-view="editMessage"></div>
</md-card>