<button fxFlex md-button [mdMenuTriggerFor]="notificationDrawer">
  <md-icon>{{notifs.unreadNotifCount > 0 ? 'notifications_active' : 'notifications_none'}}</md-icon>
   {{notifs.unreadNotifCount}}
</button>

<md-menu #notificationDrawer="mdMenu" class="notif-drawer" [overlapTrigger]="false">
  <div class="menu-header" fxLayout>
    <div class="bar" fxFlex>
      <h3>Notifications <md-icon [mdTooltip]="L_SEE_ALL">inbox</md-icon> </h3>
      <div fxLayout fxLayoutAlign="flex-start center" class="moar">
        <span style="padding-right: 10px;">{{ notifs.latestNotifs.length }} / {{notifs.unreadNotifCount}} </span>
        <span><button md-button (click)="markAllRead($event)"><md-icon>remove_red_eye</md-icon> {{ L_MARK_ALL_READ }}</button></span>
      </div>

    </div>
    <div class="righty">
      <div class="corner"></div>
      <div class="lower"></div>
    </div>
  </div>
  <div class="menu-container">
    <scfr-forum-a-notification-row *ngFor="let notif of notifs.latestNotifs" [notif]="notif"></scfr-forum-a-notification-row>
  </div>
</md-menu>