<scfr-forum-global-header-bar class="global-header"></scfr-forum-global-header-bar>
<scfr-forum-header-background></scfr-forum-header-background>
<div class="main-forum-nav">
  <button md-icon-button class="toggle-menu" (click)="toggle = !toggle" [ngClass]="{toggled: toggle}"><md-icon>{{toggle ? 'menu' : 'menu'}}</md-icon></button>

  <ng-container *ngIf="!select">
    <button md-icon-button uiSref="phpbb.seo.index"><md-icon color="primary" class="arrow">home</md-icon></button>
    <ng-container *ngFor="let link of navlinks">
      <md-icon color="primary" class="arrow">keyboard_arrow_right</md-icon>
      <button md-button color="primary" (click)="goToForum(link.FORUM_ID)">{{link.FORUM_NAME}}</button>
    </ng-container>
  </ng-container>

  <md-select *ngIf="select && navlinks" (change)="goToForum($event.value)" [(ngModel)]="selectedForum" fxFlex>
    <md-option *ngFor="let link of navlinks" [value]="link.FORUM_ID">
      {{link.FORUM_NAME}}
    </md-option>
  </md-select>
</div>
<md-progress-bar *ngIf="busy" color="accent" mode="indeterminate"></md-progress-bar>