.global-header {
    position:fixed;
    z-index:30;
}
.main-forum-nav {
    padding:0px 20px;
    margin-top:-40px;
    height:40px;
}

.toggle-menu {
    transition:0.5s;
    &.toggled {
        transform:rotate(90deg);
    }
}