<div class="main-forum-nav">
  <ng-container *ngIf="!select && navlinks && navlinks.length > 0">
    <a uiSref="phpbb.seo.index">
      <button md-icon-button>
        <md-icon color="primary" class="arrow">home</md-icon>
      </button>
    </a>
    <ng-container *ngFor="let link of navlinks">
      <md-icon color="primary" class="arrow">keyboard_arrow_right</md-icon>
      <button md-button color="primary" (click)="goToForum(link.FORUM_ID)">{{link.FORUM_NAME}}</button>
    </ng-container>
  </ng-container>

  <md-select *ngIf="select && navlinks" (change)="goToForum($event.value)" [(ngModel)]="selectedForum" fxFlex>
    <md-option *ngFor="let link of navlinks" [value]="link.FORUM_ID">{{link.FORUM_NAME}}</md-option>
  </md-select>
</div>