<div md-ripple class="subforum" uiSref="phpbb.seo.viewforum" [uiParams]="{forumId: forum.FORUM_ID}" fxLayout fxLayoutWrap
    [ngClass]="{unread: forum.S_UNREAD_FORUM, locked: forum.S_LOCKED_FORUM}" [ngClass.lt-sm]="{small:true}">
    <h3>{{forum.FORUM_NAME}} <span *ngIf="forum.S_UNREAD_FORUM" class="new">NEW</span> </h3>
    <span class="description" [innerHTML]="forum.FORUM_DESC"></span>
    <dl class="stats" fxFlex="100">
        <dt>Topics :</dt>
        <dd> {{forum.TOPICS}}</dd>
        <dt>Messages :</dt>
        <dd> {{forum.POSTS}}</dd>
    </dl>

    <!-- <div class="mask">
        <strong>{{forum.LAST_POST_SUBJECT}}</strong> <br />
        <time mdTooltip="{{forum.LAST_POST_TIME}}">{{forum.LAST_POST_TIME}}</time>
        par <scfr-forum-phpbb-username [name]="forum.LAST_POSTER" [color]="forum.LAST_POSTER_COLOUR" [html]="forum.LAST_POSTER_FULL"></scfr-forum-phpbb-username>
    </div> -->
</div>