@import './src/assets/material/v7/main';
$height: 150px;
$t-mask-delay: 0.5s;
    @mixin colorize($color, $hoverColor: false) {
        $main: darken(desaturate($color,20%),20%);
        @if $hoverColor != false {
            $hoverColor: $hoverColor;
        }
        @else {
            $hoverColor: $color;
        }


        &:hover {
            background:transparentize($hoverColor, 0.6);
            transform: scale(1.05);
        }
    }

.subforum {
    min-height: 150px;
    height: 100%;
    margin: 0px 20px;
    padding: 10px 20px;
    position:relative;
    transition:0.5s;
    overflow:hidden;
    background: transparentize(map_get($scfr-mat-blue-grey-background,500),0.2);

    h3 {
        font-family: 'Heebo', sans-serif;
        font-size: 1rem;
        line-height: 1rem;
        margin: 10px 0px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 1rem;
    }
    em {
        $em-size: 0.9rem;
        font-family: "Electrolize";
        font-style: normal;
        text-align: justify;
        font-weight: lighter;
        display: block;
        font-size: $em-size;
        line-height: $em-size;
        height: 3 * $em-size - 0.1rem;
        margin-bottom: 24px;
        overflow: hidden;
        padding: 0px;
    }


    @include colorize(map-get($scfr-mat-light-blue, 500));

    &.unread {
        $color: map-get($scfr-mat-cyan, 500);
        @include colorize($color);

        &:after {
            content:'';
            position:absolute;
            width:100%;
            height:100%;
            top:0px;
            left:0px;
            box-shadow: 0px -110px 130px -130px transparentize($color,0.8) inset;
        }
    }

    &.locked {
        @include colorize(black);
    }

    .stats {
        font-family: "Electrolize";
        color: #a0a0a0;
        position: relative;
        display: block;
        white-space: nowrap;
        font-size: 0.85rem;
        height: 0.8rem;
        padding: 0px;
        margin: 0px;
        align-self: flex-end;
        margin-bottom: 14px;

        dt {
            display:inline-block;
        }
        dd {
            margin:0px;
            padding-left:6px;
            color: white;
            display:inline-block;
            &:first-of-type {
                margin-right:12px;
            }
        }
    }
}

