<div class="topic-row" fxFlex="100" fxLayout md-ripple 

[ngClass]="{announce: topic.S_POST_ANNOUNCE || topic.S_POST_GLOBAL, sticky: topic.S_POST_STICKY, locked: topic.S_TOPIC_LOCKED, unread: topic.S_UNREAD_TOPIC}">
  <div class="topic-icon"></div>

  <div class="topic-title-container" fxFlex="100" uiSref="phpbb.seo.viewtopic"  [uiParams]="{forumId: topic.FORUM_ID, topicId: topic.TOPIC_ID}">
    <a class="topic-title">{{topic.TOPIC_TITLE}}</a>
    <button md-button *ngIf="topic.S_TOPIC_UNAPPROVED || topic.S_POSTS_UNAPPROVED">
      <a href="{{topic.U_MCP_QUEUE}}" title="{{L_.TOPIC_UNAPPROVED}}">
        <md-icon>sentiment_neutral</md-icon>{{L_.TOPIC_UNAPPROVED}}
      </a>
		</button>

    <button md-button *ngIf="topic.S_TOPIC_DELETED">
      <a href="{{topic.U_MCP_QUEUE}}" title="{{L_.TOPIC_DELETED}}">
				<md-icon>autorenew</md-icon>{{L_.TOPIC_DELETED}}<
			</a>
    </button>

    <button md-button *ngIf="topic.S_TOPIC_REPORTED">
      <a href="{topic.U_MCP_REPORT}" title="{{L_.TOPIC_REPORTED}}">
        <md-icon>priority_high</md-icon>{{L_.TOPIC_REPORTED}}
      </a>
    </button>

    <div class="topic-title-sub">
      <div class="topic-title-sub-author">
        <a uiSref="phpbb.seo.viewprofile" [ngStyle]="{color: topicAuthor.userColor}" [uiParams]="{userId: topicAuthor?.userId}" class="topic-title-sub-author-link">
          {{topicAuthor?.userName}}
        </a>
      </div>
      <a href="{{topic.U_LAST_POST}}" title="{{L_.GOTO_LAST_POST}}" class="topic-time">{{topic.FIRST_POST_TIME | amTimeAgo}}</a>
    </div>

  </div>

  <div class="topic-stats" fxFlex="25" fxLayoutWrap>
    <div fxFlex class="head">{{L_.REPLIES}} :</div>
    <div fxFlex="25" class="val">{{topic.REPLIES}}</div>
    <div fxFlex="100"></div>
    <div fxFlex class="head">{{L_.VIEWS}} :</div>
    <div fxFlex="25" class="val">{{topic.VIEWS}}</div>
  </div>
  <div class="topic-last-reply" fxFlex="25" class="topic-time">{{L_.LAST_POST}} {{L_.POST_BY_AUTHOR}}
    <a uiSref="phpbb.seo.viewprofile" [ngStyle]="{color: replyAuthor.userColor}" [uiParams]="{userId: replyAuthor?.userId}" class="topic-title-sub-author-link">
          {{replyAuthor?.userName}}
    </a> <br /> <span class="topic-time">{{topic.LAST_POST_TIME | amTimeAgo}}</span>
  </div>
</div>