<scfr-forum-register-agreement [register]="this"></scfr-forum-register-agreement>



<md-card class="form">
  <md-card-header>
    <md-card-title>
      <h2>{{tpl.SITENAME}} - {{L_.REGISTRATION}}</h2>
    </md-card-title>
    <md-card-subtitle>
      <p *ngIf="tpl.ERROR" [innerHTML]="tpl.ERROR" class="error"></p>
      <p *ngIf="tpl.L_REG_COND">
        {{L_.REG_COND}}
      </p>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content fxLayout="column">
    <scfr-forum-ucp-phpbb-field fxFlex [displayName]="L_.USERNAME" [explain]="L_.USERNAME_EXPLAIN" [model]="tpl.USERNAME" name="username"></scfr-forum-ucp-phpbb-field>
    <scfr-forum-ucp-phpbb-field fxFlex [displayName]="L_.EMAIL_ADDRESS" [model]="tpl.EMAIL" name="email" type="email"></scfr-forum-ucp-phpbb-field>
    <scfr-forum-ucp-phpbb-field fxFlex [displayName]="L_.NEW_PASSWORD" [explain]="L_.PASSWORD_EXPLAIN" [model]="tpl.PASSWORD" name="new_password"
      type="password"></scfr-forum-ucp-phpbb-field>
    <scfr-forum-ucp-phpbb-field fxFlex [displayName]="L_.CONFIRM_PASSWORD" [model]="tpl.PASSWORD_CONFIRM" name="password_confirm"
      type="password"></scfr-forum-ucp-phpbb-field>

    <br />


    <strong>{{tpl.L_ITEMS_REQUIRED}}</strong><br />
    <scfr-forum-ucp-phpbb-field *ngFor="let pf of tpl.profile_fields" fxFlex [explain]="pf.LANG_EXPLAIN" [displayName]="pf.LANG_NAME"
      [fullPHPBB]="pf.FIELD"></scfr-forum-ucp-phpbb-field>

    <re-captcha (captchaResponse)="capchaCallback($event)" site_key="6LccPSYUAAAAAL-NZ0q_M-3X6vfHPfB59WeWI4d8" theme="dark"></re-captcha>

  </md-card-content>

  <md-card-actions>
    <button md-button color="accent" (click)="submit()">{{L_.SUBMIT}}</button>
  </md-card-actions>
</md-card>
<!--
<dl>
  <dt><label for="username">{L_USERNAME}{L_COLON}</label><br /><span>{L_USERNAME_EXPLAIN}</span></dt>
  <dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" title="{L_USERNAME}"
    /></dd>
</dl>
<dl>
  <dt><label for="email">{L_EMAIL_ADDRESS}{L_COLON}</label></dt>
  <dd><input type="email" tabindex="2" name="email" id="email" size="25" maxlength="100" value="{EMAIL}" class="inputbox autowidth"
      title="{L_EMAIL_ADDRESS}" autocomplete="off" /></dd>
</dl>
<dl>
  <dt><label for="new_password">{L_PASSWORD}{L_COLON}</label><br /><span>{L_PASSWORD_EXPLAIN}</span></dt>
  <dd><input type="password" tabindex="4" name="new_password" id="new_password" size="25" value="{PASSWORD}" class="inputbox autowidth"
      title="{L_NEW_PASSWORD}" autocomplete="off" /></dd>
</dl>
<dl>
  <dt><label for="password_confirm">{L_CONFIRM_PASSWORD}{L_COLON}</label></dt>
  <dd><input type="password" tabindex="5" name="password_confirm" id="password_confirm" size="25" value="{PASSWORD_CONFIRM}"
      class="inputbox autowidth" title="{L_CONFIRM_PASSWORD}" autocomplete="off" /></dd>
</dl>-->