<div class="viewprofile" fxLayout="column">
  <div class="top-box" fxLayout fxFlex="100">
    <div *ngIf="tpl.AVATAR_IMG" fxFlex.lt-sm="100" fxFlex.gt-sm="25">
      <div class="avatar" [innerHTML]="tpl.AVATAR_IMG"></div>
      <span>{{tpl.RANK_TITLE}}</span>
    </div>

    <div class="top-box-main">
      <dl>
        <dt>{{tpl.L_USERNAME}}</dt>
        <dd>
          <span class="username" [ngStyle]="{color: tpl.USER_COLOR}">{{tpl.USERNAME}}</span>
          <ng-container *ngIf="tpl.U_EDIT_SELF"> [ <a href="{{tpl.U_EDIT_SELF}}">{{L_.EDIT_PROFILE}}</a> ] </ng-container>
          <ng-container *ngIf="tpl.U_USER_ADMIN"> [ <a href="{{tpl.U_USER_ADMIN}}">{{L_.USER_ADMIN}}</a> ] </ng-container>
          <ng-container *ngIf="tpl.U_USER_BAN"> [ <a href="{{tpl.U_USER_BAN}}">{{L_.USER_BAN}}</a> ] </ng-container>
          <ng-container *ngIf="tpl.U_SWITCH_PERMISSIONS"> [ <a href="{{tpl.U_SWITCH_PERMISSIONS}}">{{L_.USE_PERMISSIONS}}</a> ] </ng-container>
        </dd>

        <ng-container *ngIf="tpl.S_USER_INACTIVE">
          <dt>{{L_.USER_IS_INACTIVE}}{{L_.COLON}}</dt>
          <dd>{{tpl.USER_INACTIVE_REASON}}</dd>
        </ng-container>

        <ng-container *ngIf="tpl.AGE !== ''">
          <dt>{{L_.AGE}}{{L_.COLON}}</dt>
          <dd>{{tpl.AGE}}</dd>
        </ng-container>

        <ng-container *ngIf="tpl.S_GROUP_OPTIONS">
          <dt>{{L_.USERGROUPS}}{{L_.COLON}}</dt>
          <dd>
            <md-select [(ngModel)]="tpl.S_GROUP_OPTIONS.selected">
              <md-option *ngFor="let opt of tpl.S_GROUP_OPTIONS.options" [value]="opt.id">{{opt.name}}</md-option>
            </md-select>
            <button md-button (click)="goToGroup()">{{L_.GO}}</button>
        </ng-container>

        <ng-container *ngFor="let cf of tpl.custom_fields">
          <dt>{{cf.PROFILE_FIELD_NAME}}{{L_.COLON}}</dt>
          <dd>{{cf.PROFILE_FIELD_VALUE}}</dd>
        </ng-container>

        <ng-container *ngIf="tpl.S_USER_LOGGED_IN && tpl.S_ZEBRA">
          <ng-container *ngIf="tpl.U_REMOVE_FRIEND">
            <dt>&nbsp;</dt>
            <dd class="zebra"><a href="{{tpl.U_REMOVE_FRIEND}}" data-ajax="zebra"><strong>{{tpl.L_REMOVE_FRIEND}}</strong></a></dd>
          </ng-container>
          <ng-container *ngIf="!tpl.U_REMOVE_FRIEND && tpl.U_REMOVE_FOE">
            <dt>&nbsp;</dt>
            <dd class="zebra"><a href="{{tpl.U_REMOVE_FOE}}" data-ajax="zebra"><strong>{{tpl.L_REMOVE_FOE}}</strong></a></dd>
          </ng-container>
          <ng-container *ngIf="!tpl.U_REMOVE_FRIEND && !tpl.U_REMOVE_FOE">
            <ng-container *ngIf="tpl.U_ADD_FRIEND">
              <dt>&nbsp;</dt>
              <dd class="zebra"><a href="{{tpl.U_ADD_FRIEND}}" data-ajax="zebra"><strong>{{tpl.L_ADD_FRIEND}}</strong></a></dd>
            </ng-container>
            <ng-container *ngIf="tpl.U_ADD_FOE">
              <dt>&nbsp;</dt>
              <dd class="zebra"><a href="{{tpl.U_ADD_FOE}}" data-ajax="zebra"><strong>{{tpl.L_ADD_FOE}}</strong></a></dd>
            </ng-container>
          </ng-container>
        </ng-container>
      </dl>
    </div>
  </div>

  <div class="middle-box" fxLayout>
    <div class="middle-box-col" fxFlex.gt-sm="50" fxFlex.lt-sm="100">
      <h3>{{L_.CONTACT_USER}}</h3>
      <dl>
        <ng-container *ngIf="tpl.U_EMAIL">
          <dt>{{L_.EMAIL_ADDRESS}}{{L_.COLON}}</dt>
          <dd><a href="{{tpl.U_EMAIL}}">{{L_.SEND_EMAIL_USER}}</a></dd>
        </ng-container>
        <ng-container *ngIf="tpl.U_PM">
          <dt>{{L_.PM}}{{L_.COLON}}</dt>
          <dd><a href="{{tpl.U_PM}}">{{L_.SEND_PRIVATE_MESSAGE}}</a></dd>
        </ng-container>

        <!-- EVENT memberlist_view_contact_custom_fields_before -->
        <ng-container *ngFor="let cf of tpl.custom_fields">
          <ng-container *ngIf="cf.S_PROFILE_CONTACT">
            <dt>{{cf.PROFILE_FIELD_NAME}}{{L_.COLON}}</dt>
            <ng-container *ngIf="cf.PROFILE_FIELD_CONTACT">
              <dd><a href="{{cf.PROFILE_FIELD_CONTACT}}">{{cf.PROFILE_FIELD_DESC}}</a></dd>
            </ng-container>
            <ng-container *ngIf="!cf.PROFILE_FIELD_CONTACT">
              <dd>{{cf.PROFILE_FIELD_VALUE}}</dd>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="tpl.S_PROFILE_FIELD1">
          <dt>{{tpl.PROFILE_FIELD1_NAME}}{{L_.COLON}}</dt>
          <dd>{{tpl.PROFILE_FIELD1_VALUE}}</dd>
        </ng-container>
      </dl>
    </div>

    <div class="middle-box-col" fxFlex.gt-sm="50" fxFlex.lt-sm="100">
      <h3>{{L_.USER_FORUM}}</h3>
      <dl class="details">
        <dt>{{L_.JOINED}}{{L_.COLON}}</dt>
        <dd>{{tpl.JOINED}}</dd>
        <dt>{{L_.LAST_ACTIVE}}{{L_.COLON}}</dt>
        <dd>{{tpl.LAST_ACTIVE}}</dd>
        <ng-container *ngIf="tpl.S_WARNINGS">
          <dt>{{L_.WARNINGS}}{{L_.COLON}} </dt>
          <dd><strong>{{tpl.WARNINGS}}</strong>
            <ng-container *ngIf="tpl.U_NOTES || tpl.U_WARN"> [
              <ng-container *ngIf="tpl.U_NOTES"> <a href="{{tpl.U_NOTES}}">{{L_.VIEW_NOTES}}</a>
              </ng-container>
              <ng-container *ngIf="tpl.U_WARN">
                <ng-container *ngIf="tpl.U_NOTES"> |
                </ng-container> <a href="{{tpl.U_WARN}}">{{L_.WARN_USER}}</a>
              </ng-container> ]
            </ng-container>
          </dd>
        </ng-container>
        <dt>{{L_.TOTAL_POSTS}}{{L_.COLON}}</dt>
        <dd>{{tpl.POSTS}}
          <ng-container *ngIf="tpl.S_DISPLAY_SEARCH"> | <strong><a href="{{tpl.U_SEARCH_USER}}">{{L_.SEARCH_USER_POSTS}}</a></strong>
          </ng-container>
          <ng-container *ngIf="tpl.POSTS_PCT"> <br />({{tpl.POSTS_PCT}} / {{tpl.POSTS_DAY}})
          </ng-container>
          <ng-container *ngIf="tpl.POSTS_IN_QUEUE && tpl.U_MCP_QUEUE"> <br />(<a href="{{tpl.U_MCP_QUEUE}}">{{L_.POSTS_IN_QUEUE}}</a>)
          </ng-container>

          <ng-container *ngIf="tpl.POSTS_IN_QUEUE"><br />({{L_.POSTS_IN_QUEUE}})</ng-container>
        </dd>
        <ng-container *ngIf="tpl.S_SHOW_ACTIVITY && tpl.POSTS">
          <dt>{{L_.ACTIVE_IN_FORUM}}{{L_.COLON}}</dt>
          <dd>
            <ng-container *ngIf="tpl.ACTIVE_FORUM != ''"> <strong><a href="{{tpl.U_ACTIVE_FORUM}}">{{tpl.ACTIVE_FORUM}}</a></strong><br />({{tpl.ACTIVE_FORUM_POSTS}} / {{tpl.ACTIVE_FORUM_PCT}})
            </ng-container>
          </dd>
          <dt>{{L_.ACTIVE_IN_TOPIC}}{{L_.COLON}}</dt>
          <dd>
            <ng-container *ngIf="tpl.ACTIVE_TOPIC != ''"> <strong><a href="{{tpl.U_ACTIVE_TOPIC}}">{{tpl.ACTIVE_TOPIC}}</a></strong><br />({{tpl.ACTIVE_TOPIC_POSTS}} / {{tpl.ACTIVE_TOPIC_PCT}})
            </ng-container>
          </dd>
        </ng-container>
      </dl>
    </div>
  </div>

</div>