@import './src/assets/material/v7/main';
.navigator{
    margin: 0;
    flex-grow: 1;
}

md-toolbar {
    background-color: map_get($scfr-mat-blue-grey-background,500);
    font-size:1em;
    &.logo {
        a.logo-container {
            width: 150px;
            height: 69.5px;
            margin: 0px auto;
        }
        button {
            margin-right: -20px;
        }
    }
}

.main-navigator-wrapper {
    height:100vh;
    .main-navigator {
        .main-navigator-list {
            overflow: hidden;
            overflow-y: auto;
            margin: 0;
            padding: 0px 0px 10px;
        }
    }

    .search {
        padding: 8px 24px 0;
        align-items: center;
        font-family: $text-font-main;
        font-size:18px;
        .search-more {
            padding:12px;
        }
        md-icon{
            vertical-align: bottom;
        }
    }
}

.logo-container {
    position: relative;
    height: 64px;
    background: $dark-blue-secondary;
    button {
        position: absolute;
        height: 100%;
        left:0;
        top:0;
        background: transparent;
        color: white;
        border: 0px;
        outline: none;
        cursor: pointer;
        padding: 0 20px;
    }
    .logo {
        position: relative;
        height: 100%;
        display: block;
        img{
            position: relative;
            display: block;
            max-width: 100%;
            max-height: 100%;
            height: 100%;
            width: auto;
            margin: auto;
        }
    }
    .navigation-mobile-toggle{
        position: absolute;
        right: 0;
        top: 0;
        color: white;
        padding: 20px;
        left: initial;
    }
}
