<div class="main-navigator-wrapper" fxLayout="column">
    <scfr-mobile-navigation *ngIf="this.layout.lt_lg | async"></scfr-mobile-navigation>

    <div class="main-navigator" fxFlex fxLayout="column">
        <ul class="main-navigator-list" fxFlex>
            <scfr-forum-navigation-forum-link *ngFor="let forum of forumMap[0]" [forum]="forum" [navCo]="this" [depth]="0"></scfr-forum-navigation-forum-link>
        </ul>
    </div>

    <div class="search" fxLayout fxLayoutWrap>

        <div class="search-more" *ngIf="searchForum" fxFlex="100">
            <button md-raised-button color="primary" (click)="goToSearch()" fxFlex="100"> Recherche avancée </button>
        </div>

        <div class="second-row" fxLayout fxFlex="100">
            <md-input-container fxFlex="100">
                <md-icon mdPrefix color="primary">search</md-icon>
                <input mdInput type="text" placeholder="Rechercher" [(ngModel)]="searchForum" (ngModelChange)="shouldFilterDisplay()">
            </md-input-container>
        </div>
    </div>
    <app-login class="navigator-bottom"></app-login>
</div>
