<div class="navigator">
    <a uiSref="phpbb.seo.index"><i class="material-icons">home</i></a>
    <ul>
        <li *ngFor="let forum of forumList">
            <a uiSref="phpbb.seo.viewforum" [uiParams]="{forumId: forum.FORUM_ID}" >{{forum.FORUM_NAME}}</a>
            <button md-mini-fab *ngIf="forum.S_SUBFORUMS" (click)="toggleMenu(forum)" [ngSwitch]="forum.toggledDropdown">
                <md-icon *ngSwitchCase="false">keyboard_arrow_down</md-icon>
                <md-icon *ngSwitchCase="true">keyboard_arrow_up</md-icon>
            </button>
            <ul *ngIf="forum.S_SUBFORUMS && forum.toggledDropdown">
                <!-- TODO : add SUBFORUM_ID VIA PHPBB EXT -->
                <li *ngFor="let subForum of forum.subforum"><a uiSref="phpbb.seo.viewforum" [uiParams]="{forumId:SUBFORUM_ID}" >{{subForum.SUBFORUM_NAME}}</a></li>
            </ul>
        </li>
    </ul>
</div>
<app-login class="navigator-bottom"></app-login>