@import './src/assets/material/v7/main';

.navigator{
    margin: 0;
    flex-grow: 1;
}

md-toolbar {
    background-color: map_get($scfr-mat-blue-grey-background,500);
    font-size:1em;
    &.logo {
        a.logo-container {
            width: 150px;
            height: 69.5px;
            margin: 0px auto;
        }
        button {
            margin-right: -20px;
        }
    }
}

.main-navigator-wrapper {
    height:100vh;
    padding-top: 64px;
    .main-navigator {
        .main-navigator-list {
            overflow: hidden;
            overflow-y: auto;
            margin: 0;
            padding: 0px 0px 10px;
        }
    }

    .search {
        padding: 8px 24px 0;
        align-items: center;
        font-family: $text-font-main;
        font-size:18px;
        .search-more {
            padding:12px;
        }
        md-icon{
            vertical-align: bottom;
        }
    }
}
