<fieldset>
  <dl>
    <dt><label for="ban">{{L_.BAN_CELL}}{{L_.COLON}}</label></dt>
    <dd><label for="ban"><textarea name="ban" id="ban" class="inputbox" cols="40" rows="3">{{tpl.BAN_QUANTIFIER}}</textarea></label></dd>
    <dd *ngIf="tpl.S_USERNAME_BAN"><strong><a [href]="U_FIND_USERNAME" onclick="find_username(this.href); return false;">{{L_.FIND_USERNAME}}</a></strong></dd>
  </dl>
  <dl>
    <dt><label for="banlength">{{L_.BAN_LENGTH}}{{L_.COLON}}</label></dt>
    <dd><label for="banlength"><select name="banlength" id="banlength" onchange="if(this.value==-1){document.getElementById('banlengthother').style.display = 'block';}else{document.getElementById('banlengthother').style.display='none';}">{{tpl.S_BAN_END_OPTIONS}}</select></label></dd>
    <dd id="banlengthother" style="display: none;"><label><input type="text" name="banlengthother" class="inputbox" /><br /><span>{{L_.YEAR_MONTH_DAY}}</span></label></dd>
  </dl>
  <dl>
    <dt><label for="banreason">{{L_.BAN_REASON}}{{L_.COLON}}</label></dt>
    <dd><input name="banreason" id="banreason" type="text" class="inputbox" maxlength="255" /></dd>
  </dl>
  <dl>
    <dt><label for="bangivereason">{{L_.BAN_GIVE_REASON}}{{L_.COLON}}</label></dt>
    <dd><input name="bangivereason" id="bangivereason" type="text" class="inputbox" maxlength="255" /></dd>
  </dl>

  <hr />

  <dl>
    <dt><label for="banexclude0">{{L_.BAN_EXCLUDE}}{{L_.COLON}}</label><br /><span>{{L_.BAN_EXCLUDE_EXPLAIN}}</span></dt>
    <dd>
      <label for="banexclude1"><input type="radio" name="banexclude" id="banexclude1" value="1" /> {{L_.YES}}</label>
      <label for="banexclude0"><input type="radio" name="banexclude" id="banexclude0" value="0" checked="checked" /> {{L_.NO}}</label>
    </dd>
  </dl>
</fieldset>


<div class="panel">
  <div class="inner">

    <h3>{{L_.UNBAN_TITLE}}</h3>
    <p>{{L_.UNBAN_EXPLAIN}}</p>

    <fieldset *ngIf="tpl.S_BANNED_OPTIONS">
      <dl>
        <dt><label for="unban">{{L_.BAN_CELL}}{{L_.COLON}}</label></dt>
        <dd><select name="unban[]" id="unban" multiple="multiple" size="5" onchange="if (this.selectedIndex != -1) {display_details(this.options[this.selectedIndex].value);}">{{tpl.BANNED_OPTIONS}}</select></dd>
      </dl>
      <dl>
        <dt>{{L_.BAN_LENGTH}}{{L_.COLON}}</dt>
        <dd><strong id="unbanlength"></strong></dd>
      </dl>
      <dl>
        <dt>{{L_.BAN_REASON}}{{L_.COLON}}</dt>
        <dd><strong id="unbanreason"></strong></dd>
      </dl>
      <dl>
        <dt>{{L_.BAN_GIVE_REASON}}{{L_.COLON}}</dt>
        <dd><strong id="unbangivereason"></strong></dd>
      </dl>
    </fieldset>

  </div>
</div>


<p><strong>{{L_.NO_BAN_CELL}}</strong></p>
