<div [ngSwitch]="type" class="form-container">

  <ng-container *ngSwitchCase="'textarea'">
    <md-input-container floatPlaceholder="always">
      <textarea mdInput [(ngModel)]="model" placeholder="{{display_name}}" [required]="required"></textarea>
      <md-hint>{{explain}}</md-hint>
    </md-input-container>
  </ng-container>

  <ng-container *ngSwitchCase="'select'">
    <md-select fxFlex="100" [(ngModel)]="model" placeholder="{{display_name}}" [mdTooltip]="explain" [multiple]="multiple">
      <md-option *ngFor="let opt of options" [value]="opt.id">{{opt.name}}</md-option>
    </md-select>
  </ng-container>

  <ng-container *ngSwitchCase="'radio'">
    <span class="name">{{display_name}}</span>
    <md-radio-group [(ngModel)]="model">
      <md-radio-button *ngFor="let opt of options" [value]="opt.id">
        {{opt.name}}
      </md-radio-button><br />
      <md-hint>{{explain}}</md-hint>
    </md-radio-group>
  </ng-container>

  <ng-container *ngSwitchCase="'editor'">
    <scfr-forum-post-editor [(message)]="model" [placeholder]="display_name"></scfr-forum-post-editor>
  </ng-container>

  <ng-container *ngSwitchCase="'checkbox'">
    <md-checkbox [(ngModel)]="model" [mdTooltip]="explain" [value]="value" [name]="form_name"> {{display_name}} </md-checkbox>
  </ng-container>

  <ng-container *ngSwitchCase="'hidden'">
    <input type="hidden" [(ngModel)]="model" />
  </ng-container>

  <ng-container *ngSwitchCase="'file'">
    <input type="file" #file (change)="setFile(file.files)" />
  </ng-container>

  <ng-container *ngSwitchCase="'toggle'">
    <md-slide-toggle class="example-margin" [checked]="model == 1" (change)="model = !model">{{display_name}}</md-slide-toggle>
  </ng-container>


  <ng-container *ngSwitchDefault>
    <md-input-container floatPlaceholder="always" color="primary">
      <input mdInput [type]="type" [(ngModel)]="model" placeholder="{{display_name}}" [required]="required" />
      <md-hint>{{explain}}</md-hint>
    </md-input-container>
  </ng-container>

</div>